<h2><%= @task.title %></h2>
<%=link_to "edit", edit_task_path%>
<h3><%= @task.details %></h3>
<p>
  <input type="checkbox" <%= 'checked' if @task.completed %>><%= @task.completed ? 'This task is completed' : 'This task is not completed yet' %>
</p>
<%= link_to 'Back to list', tasks_path %>

